@{
    ViewData["Title"] = "Home Page";
}

@{
  Layout = "_Layout";
}

<h1>Welcome to the Engineer and machine!</h1>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p> <p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>